#chat-screen {
  background-color: var(--chat-background-color);
  height: 300vh;
}
#chat-screen .alt-screen-header {
  background-color: inherit;
  position: fixed;
  top: 32px;
  width: 100%;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.4s linear;
}
.chat__timestamp {
  color: var(--chat-timestamp-text-color);
  background-color: var(--chat-timestamp-bg-color);
  margin-bottom: 30px;
  padding: 10px 15px 8px 15px;
  border-radius: 16px;
}

@keyframes fadeInFromLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: fadeInFromLeft 0.4s linear;
}
.message-row img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 18px;
}
.message__author {
  opacity: 0.8;
  font-size: 18px;
  margin-bottom: 7px;
  display: block;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  margin-right: 7px;
  padding: 14px;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.message__time {
  opacity: 0.8;
  font-size: 16px;
}

@keyframes fadeInFromRight {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row--own {
  justify-content: flex-end;
  animation: fadeInFromRight 0.4s linear;
}
.message-row--own .message__bubble {
  background-color: var(--kokoa-yellow);
  margin-right: 0;
  margin-left: 7px;
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}
.reply__column {
  padding-bottom: 2px;
}
.reply .reply__column:first-child {
  width: 8%;
}
.reply .reply__column:last-child {
  width: 92%;
  position: relative;
}
.reply input {
  height: 40px;
  width: 100%;
  padding-left: 10px;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply__column svg {
  width: 30px;
}
.reply__column:last-child > svg,
.reply__column:last-child > button {
  position: absolute;
}
.reply__column:last-child > svg {
  right: 50px;
  opacity: 0.4;
  right: 60px;
  top: 5px;
}

.reply__column button {
  background-color: var(--kokoa-yellow);
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3px;
  top: 1px;
}
@keyframes scaling {
  0% {
  }
  50% {
    transform: scale(1.1);
  }
  100% {
  }
}
.message-row img:hover {
  animation: scaling 1s ease-in-out infinite;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply svg,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within svg,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within {
  transform: translateY(80px);
}

.reply input:focus {
  width: 98vw;
  transform: translateX(-9.3%) translateY(-80px);
}
