.nav {
  background-color: #f9f9fa;
  width: 100%;
  padding: 15px 40px;
  border-top: 1px solid rgba(121, 121, 121, 0.1);
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__noti {
  background-color: var(--noti-red);
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
.nav-icon {
  width: 40px;
}

.header-icon {
  width: 35px;
}